html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.App {
  /* background-color: black */
  /* background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */
  background-color: #0e3742;
  width: 100vw;
  height: 100vh;
}

.diagonal-container {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.welcome {
  position: relative;
  font-size: 6em;
  letter-spacing: 0px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  color: #0e3742;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #000008);
  line-height: 0.70em;
  outline: none;
  animation: welcomeAnimate 3s linear forwards;
  animation: welcomeAnimateText 3s linear forwards;
  animation-delay: 2s;
  visibility: hidden;
  align-self: center;
}

/* Define animation for each span */
.welcome span {
  display: inline-block;
  opacity: 1;
  animation: vanishSpan 6s linear forwards;
  transform-origin: center bottom;
  /* Set the transform origin to the bottom center */
  animation-delay: 15s;
}


.left-half {
  left: 0;
  background-color: #000000;
  /* background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);   */
  /* clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 50% calc(100% - 50vw)); */
  width: 100vw;
  display: block;
  position: absolute;
  height: 100vh;
  animation: expandDividerPolygonLeft 2s ease-in-out 0s both;

}

.right-half {
  right: 0;
  background-color: #000000;
  /* background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);   */
  /* clip-path: polygon(100% 0%, 100% 100%, 0% 0%, 0% calc(0% - 50vw)); */
  width: 100vw;
  display: block;
  position: absolute;
  height: 100vh;
  animation: expandDividerPolygonRight 2s ease-in-out 0s both;
}


.roomba {
  display: grid;
  flex-wrap: wrap;
  align-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  justify-content: flex-end;
  animation: driveRoomba 18s linear forwards;
  animation-delay: 5s;
  visibility: hidden;
  justify-items: center;
  /* justify-content: space-between; */
}

.roombaImage {
  animation: driveRoombaImage 25s linear forwards;
  animation-delay: 5s;
  border-radius: 50%;
  /* Make it a circle */
  object-fit: cover;
  /* Maintain aspect ratio and crop as needed */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: none;
  padding: none;
  /* box-shadow: none; */
}

.karcher{
  margin: 25px;
  position: absolute;
}

.textOverlay{
  /* visibility: hidden; */
  opacity: 0;
  animation: roombaText 25s linear forwards;
  animation-delay: 5s;
  font-size: 36px;
  font-weight: bold;
  background-image: linear-gradient(to right, #d4ea09, #f5f3f2); /* Define your gradient colors */
  -webkit-background-clip: text; /* Clip the background to the text */
  background-clip: text;
  color: transparent;
}

.batteryContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: -140px;
  right: -90px;
  opacity: 0;
  animation: roombaText 25s linear forwards;
  animation-delay: 5s;
}

.batteryOuter {
  border-radius: 3px;
  border: 1px solid #444;
  padding: 1px;
  width: 25px;
  height: 9px;
}

.batteryBump {
  border-radius: 2px;
  background-color: #444;
  margin: 2px;
  width: 1px;
  height: 3px;
}

#batteryLevel {
  border-radius: 2px;
  background-color: #73AD21;
  width: 18px;
  height: 9px;
}

.batteryPercentage{
 /* visibility: hidden; */
 opacity: 0;
 font-size: 15px;
 margin-right: 5px;
 animation: roombaText 25s linear forwards;
 animation-delay: 5s;
 font-weight: bold;
 background-image: linear-gradient(to right, #d4ea09, #f5f3f2); /* Define your gradient colors */
 -webkit-background-clip: text; /* Clip the background to the text */
 background-clip: text;
 color: transparent;
}

@keyframes roombaText {
  0%, 99% {
    opacity: 0; /* Hidden before and after 100% keyframe */
  }
  100% {
    opacity: 1; /* Visible at 100% keyframe */
  }
}


/* Keyframes for vanishing the spans */
@keyframes vanishSpan {
  to {
    /* opacity: 0; */
    transform: scaleZ(0);
  }
}

@keyframes driveRoombaImage {
  0% {
    transform: rotate(435deg);
    border: none;
    border-radius: none;
    padding: none;
    box-shadow: none;
  }

  5% {
    transform: rotate(425deg);
  }

  10% {
    transform: rotate(415deg);
  }

  15% {
    transform: rotate(405deg);
  }

  20% {
    transform: rotate(395deg);
  }

  25% {
    transform: rotate(385deg);
  }

  30% {
    transform: rotate(375deg);
  }

  35% {
    transform: rotate(365deg);
  }

  45% {
    transform: rotate(355deg);
  }

  55% {
    transform: rotate(360deg);
  }

  70% {
    transform: rotate(340deg);
  }

  75% {
    transform: rotate(360deg);
  }

  80% {
    transform: rotate(385deg);
  }

  85% {
    transform: rotate(400deg);
  }

  90% {
    transform: rotate(415deg);
  }

  95% {
    transform: rotate(430deg);
  }

  99% {
    transform: rotate(450deg);
    border: none;
    border-radius: none;
    padding: none;
    box-shadow: none;
  }

  100% {
    transform: rotate(450deg);
    border: 0.2em solid #ffffff;
    border-radius: 2rem;
    padding: 2em 13em 2em 13em;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #03bcf4, 0 0 0.8rem #03bcf4, 0 0 2.8rem #03bcf4, inset 0 0 1.3rem #03bcf4;
  }
}

@keyframes driveRoomba {
  0% {
    right: calc(0% - 300px);
    top: calc(0% + 50%);
    visibility: visible;
  }

  5% {
    top: calc(0% + 40%);
  }

  10% {
    top: calc(0% + 35%);
  }

  15% {
    top: calc(0% + 25%);
  }

  20% {
    top: calc(0% + 20%);
  }

  25% {
    top: calc(0% + 15%);
  }

  30% {
    top: calc(0% + 10%);
  }

  35% {
    top: calc(5%);
  }

  45% {
    top: calc(0%);
  }

  55% {
    top: calc(0%);
  }

  65% {
    top: calc(0%);
  }

  70% {
    top: calc(0%);
  }

  85% {
    top: calc(0%);
  }

  90% {
    top: calc(0%);
  }

  95% {
    top: calc(0%);
  }

  100% {
    right: calc(80% - 0px);
    top: calc(0%);
    visibility: visible;
    padding: 2em 13em 2em 13em;
   }
}

@keyframes expandDividerPolygonLeft {
  0% {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 0% 0%);
  }

  100% {
    /* clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 0% 0%); */
    clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 0% 0%);

  }
}


@keyframes expandDividerPolygonRight {
  0% {
    clip-path: polygon(100% 0%, 100% 100%, 0% 0%, 100% 0%);
  }

  100% {
    /* clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 0% 0%); */
    clip-path: polygon(100% 100%, 100% 100%, 0% 0%, 100% 100%);
  }
}


@keyframes welcomeAnimateText {
  0% {
    /* transform: scale3d(1, 1, 1); */
    letter-spacing: 0px;
    color: #0e3742;
    text-shadow: none;
    visibility: visible;
  }

  100% {
    /* transform: scale3d(1.5, 1.5, 1.5); */
    letter-spacing: 5px;
    visibility: visible;
    color: #fff;
    text-shadow: 0 0 10px #03bcf4,
      0 0 20px #03bcf4,
      0 0 40px #03bcf4,
      0 0 80px #03bcf4,
      0 0 160px #03bcf4;

  }
}

@keyframes welcomeAnimate {

  0%,
  5%,
  10%,
  18%,
  20%,
  50.1%,
  60%,
  65%,
  80%,
  90%,
  92% {
    color: #0e3742;
    text-shadow: none;
    visibility: visible;


  }

  5.1%,
  10.1%,
  18.1%,
  20.1%,
  50%,
  60.1%,
  65.1%,
  80.1%,
  90.1%,
  92.1%,
  100% {
    visibility: visible;
    color: #fff;
    text-shadow: 0 0 10px #03bcf4,
      0 0 20px #03bcf4,
      0 0 40px #03bcf4,
      0 0 80px #03bcf4,
      0 0 160px #03bcf4;
  }
}



@media (max-width: 1300px) {
  /* Adjust the div's size for screens with a maximum width of 768px */
  .responsive-div {
    margin-left: 20%; /* Adjust the height as needed */
    scale : 0.8;
  }
  .welcome span {
    display: inline-block;
    opacity: 1;
    animation: vanishSpan 8s linear forwards;
    transform-origin: center bottom;
    /* Set the transform origin to the bottom center */
    animation-delay: 17s;
  }
}

@media (max-width: 480px) {
  /* Adjust the div's size for screens with a maximum width of 480px */
  .responsive-div {
      width: 60%; /* Adjust the width as needed */
      height: 100px; /* Adjust the height as needed */
  }
}